.frame1
{
position:absolute;
background-color:;
height:817px;
width:888px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
padding:0px;
}
.rectangle1
{
background-color:#412828;
height:92px;
width:955px;
transform:rotate(-1deg);
border-radius:20px;
position:absolute;
top:0px;
left:-33px;
}
.lightlinks.tk
{
color:;
text-align:left;
vertical-align:text-top;
font-size:70px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:231px;
top:5px;
position:absolute;
width:426px;
}
.rectangle2
{
background-color:;
height:648px;
width:400px;
border:1px solid #000000;
top:128px;
left:30px;
position:absolute;
}
.links2
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:170px;
top:138px;
width:307px;
height:71px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.nebula
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:43px;
top:182px;
width:307px;
height:71px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.nebula2
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:43px;
top:222px;
width:307px;
height:71px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.nebula3
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:43px;
top:262px;
width:307px;
height:71px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.nebula4
{
color:#ffffff;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:43px;
top:302px;
width:307px;
height:71px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
